<style>
	.testimonial-corousel {
		min-height:200px;
	}
</style>
<div class="">
	<div class="bg-white">
		<div class="grid-row" style="font-family: Raleway;">
			<div class="row no-padding pc-process">
				<div class="grid-md-5">
					<div class="row pc-process-text">
						<div class="grid-md-12 font-22 robot-regular ">ENABLE NEXT-GEN</div>
						<div class="grid-md-12 font-22  robot-bold no-padding">PLACEMENT CELL FOR YOUR COLLAGE</div>
					</div>
					<div class="row who-are-we-panel m-t-30">
						<div><h3>What we are providing?</h3></div>
						<div>
							<p class="justify" style="font-family: Raleway;">The purpose of the Training and Placement is to guide students to choose right career and to give knowledge, skill and aptitude and meet the manpower requirements of the Industry. </p>
							<p class="justify" style="font-family: Raleway;">With our predefined process, we are making the productive resources.</p>
						</div>
					</div>
					<div class="grid-col-row">
						<div class="grid-col grid-col-3">
							<article class="pricing-table active color-3">
								<div class="header-pt clear-fix"><!--
								 --><h3>Premium</h3>
								</div>
								<ul>
									<li>Skills Enhancement</li>
									<li>Live Project </li>
									<li>Campus placement with company's</li>
								</ul>
							</article>
						</div>
					</div>
					
					<div class="row m-t-30">
						<button type="button" class="cws-button bt-color-3 border-radius alt icon-right pull-left" ng-click="openRegistraion('hr')">Register</button>
						<!-- <button type="button" class="cws-button bt-color-3 border-radius alt icon-right pull-right" ng-click="toggleRowExpansion($index)">Post A Job</button> -->
					</div>
				</div>
				<div class="grid-md-7  grid-xs-12 pc-process-logo">
					<img src="resources/img/hrportal/pioneer-coders-process.png">
				</div>
			</div>
		</div>
	</div>
	<div>

	<div class="bg-white">
		<div class="grid-row">
			<div class="row who-are-we-panel">
				<div><h3>Our Clients</h3></div>
				<div class="row">
					<div class="grid-md-2 no-padding clients-logo"><img src="resources/img/hrportal/clients-logos/happiest-minds.png"></div>
					<div class="grid-md-2 no-padding clients-logo"><img src="resources/img\hrportal/clients-logos/ibm-logo.png"></div>
					<div class="grid-md-2 no-padding clients-logo"><img src="resources/img/hrportal/clients-logos/ciscologo.gif" class="pl-logo"></div>
					<div class="grid-md-2 no-padding clients-logo"><img src="resources/img/hrportal/clients-logos/infosys.png"class="pl-logo"></div>
					<div class="grid-md-2 no-padding clients-logo"><img src="resources/img/hrportal/clients-logos/Mindtree-Logo.png"></div>
					<div class="grid-md-2 no-padding clients-logo"><img src="resources/img/hrportal/clients-logos/hcl.png"></div>
				</div>
			</div>
	</div>
	</div>
	<div>
		<div class="grid-row relative">
			<ul rn-carousel rn-carousel-auto-slide rn-carousel-controls  class="image testimonial-corousel">
				  <li>
				  	<div class="row who-are-we-panel">
						<div><h3>Our Testimonials</h3></div>
						<div><span><i class="fa fa-quote-left"></i> I'am very happy to deal with pionner coders. They understood my organization specific resource requirements and provided best resources.</span><span> <i class="fa fa-quote-right"></i></span></div>
					</div>
				<div class="row relative">
						<!-- <span class="testimodials-img"><img class="absolute" src="resources\img\user.png"></span> -->
						<div class="pull-right client-details">
						<div class="clear-fix">Arjun</div>
						<div class="clear-fix">Todo Technologies Pvt Ltd</div>
						</div>
					</div>
				  </li>
				   <li>
					  	<div class="row who-are-we-panel">
							<div><h3>Our Testimonials</h3></div>
							<div><span><i class="fa fa-quote-left"></i> I'am very happy to deal with pionner coders. They understood my organization specific resource requirements and provided best resources.</span><span> <i class="fa fa-quote-right"></i></span></div>
						</div>
						<div class="row relative">
							<!-- <span class="testimodials-img"><img class="absolute" src="resources\img\user.png"></span> -->
							<div class="pull-right client-details">
							<div class="clear-fix">Srinivas</div>
							<div class="clear-fix">DOVA Software Technologies Pvt Ltd</div>
							</div>
						</div>
				  </li>
			</ul>
		</div>
	</div>
</div>
</div>