<style>
	.buttonani {
  display: inline-block;
  border-radius: 4px;
  background-color: #6699ff;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 15px;
  padding: 5px;
  width: 100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  white-space : nowrap;
}

.buttonani span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buttonani span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.buttonani:hover span {
  padding-right: 25px;
}

.buttonani:hover span:after {
  opacity: 1;
  right: 0;
}

	.popupscroll{
		overflow-y:scroll;
		height:600px;
	}
	.panelborder{
		border: 1px solid lightgray;
    	padding: 10px;
	}
	.cross-mark{
		top: 7px;
	    position: absolute;
	    padding: 4px;
	}
	.f-23{
		font-size:23px;
	}
	.onlineTextMsg{
	    top: 351%;
	    left: 201px;
	    position: absolute;
	    font-size: 23px;
	}
	.popupClose{
	    top: 15px;
	    position: absolute;
	    right: 10px;
	    background:none;
	    color:red;
	}
	.pad-l-10 {
		padding-left:10px;
	}
	.pad-l-25{
		padding-left:25px;
	}
	.width-380{
		width: 380px;
	}
	.techClosePopup{
		 position: absolute;
   		 right: 20px;
   		 color: red;
   		 background : none;
	}
	.min-height-3000px{
		 /* min-height: 3011px; */
		 min-height: 1111px;
	}
	.remove{
	    top: 15px;
    	color: green;
	}
	.pad-r-5{
		padding-right: 5px !important;
	}
	.pad-l-20{
	    padding-left: 20px;
	}
	.profile{
		background-color: #313540;
	}
	nav ul li a {
		padding:0px;
	}
	.page-content{
		overflow: hidden;
		background-color: #334060;
		background-image: url(resources/img/home/parallax-pro.png);
	}
</style>
<div class="slider-container p-0 login-bg min-height-3000px user-info-cards">
	<div class="slider-child-container p-0 "  ng-class="showtests"> 
		<div class="row p-0">
		<div class="slider-child">
					<div>
	<div class="row no-padding">
		<div class="row no-padding bg-white">
					<div class="row border-btm-1">
						<div class="grid-md-6"> 
							<h3 class="no-margin">Test</h3>
						</div>
						<div class="">
							<button type="button" class="cws-button bt-color-3 border-radius alt icon-right pull-right" ng-click="toggleBoolean('showPopup')">Create Test</button>
						</div>
					</div>
					<div class="row no-padding">
					<div class="grid-md-12">
						<div class="grid-md-12 font-20 text-center border-0" ng-if="!testList.length">Test not available Please add first..</div>
						<table class="jobslist-table bordered" ng-if="testList.length" datatable="ng">
							<thead>
							<tr>
								<th>Test Name</th>
								<th>Test Description</th>
								<th>Test StartDate</th>
								<th>Test EndDate</th>
								<th>Test Technology</th>
								<th>Test Rounds</th>
							</tr>
							</thead>
							<tbody>
							<tr ng-repeat="test in testList">
								<td>{{test.testName}}</td>
								<td>{{test.description}}</td>
								<td>{{test.startDate | date:'dd-MM-yyyy'}}</td>
								<td>{{test.endDate | date:'dd-MM-yyyy'}}</td>
								<td >
									<span ng-repeat="tech in test.testTechnologiesList">
										{{tech.technologies.name}}<span ng-if="test.testTechnologiesList.length">,</span>
									</span>
								</td>
								<td><!--round.testRounds,testListtech.technologies  -->
									<button type="button" class="buttonani" style="vertical-align:middle;display: block" ng-repeat="round in test.testRoundsList " ng-click="getQuestions(test.testTechnologiesList,test.testRoundsList,round.testRounds,test);slideToQuestions()">
									<span>{{round.testRounds.patternName}},</span>
									</button>
								</td>
							</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			<div class="overlay" ng-class="{'show':showPopup}" ng-click="toggleBoolean('showPopup')"></div>	
		<div class="popup post-a-job-popup grid-md-5 grid-lg-2 grid-xs-12 no-padding" ng-class="{'show':showPopup}" style="z-index:99999;margin-right:25%;">
				<div class="grid-md-12 pad-10">
					<div class="post-a-job-heading no-padding">
						<h4>Add Test <span class="pointer-cursor pull-right p-r-10 color-red" ng-click="toggleBoolean('showPopup')"><i class="fa fa-times"></i></h4>					
					</div>
					<form data-role="form" class="padding-12">
						<div class="col-lg-8">
							<div class="row form-group">
								<label for="InputName" class="grid-md-3">Test Name</label>
								<div class="grid-md-9 no-padding">
									<input type="text" class="form-control" name="InputName"
										data-ng-model="test.testName" placeholder="Enter Test Name" required>
									<span class="input-group-addon"><span
										class="glyphicon glyphicon-asterisk"></span></span>
								</div>
							</div>
							<div class="row form-group">
								<label class="grid-md-3" for="InputName">Test Description</label>
								<div class="grid-md-9 no-padding">
									<input type="text" class="form-control" name="inputEmail"
										data-ng-model="test.description" placeholder="description" required>
								</div>
							</div>
							<div class="row form-group">
								<label class="grid-md-3" for="InputName">Test StartDate</label>
								<div class="grid-md-9 no-padding">
									<input class="form-field grid-md-12" type="text" maxlength="10" name ="dob" placeholder="yyyy-mm-dd" uib-datepicker-popup ng-model="test.startDate" is-open="startCalendar.opened" datepicker-options="dateOptions" ng-required="false" close-text="Close" />
									<span class="form-field-icon absolute">
									   <button type="button" class="btn btn-sm btn-sky-blue bg-color-1 color-white" ng-click="openCalendar('startCalendar')"><i class="fa fa-calendar"></i></button>
									 </span>
								</div>
							</div>
							<div class="row form-group">
								<label class="grid-md-3" for="InputName">Test EndDate</label>
								<div class="grid-md-9 no-padding">
									<input class="form-field grid-md-12" type="text" maxlength="10" name ="dob" placeholder="yyyy-mm-dd" uib-datepicker-popup ng-model="test.endDate" is-open="endCalendar.opened" datepicker-options="dateOptions" ng-required="false" close-text="Close" />
									<span class="form-field-icon absolute">
									   <button type="button" class="btn btn-sm btn-sky-blue bg-color-1 color-white" ng-click="openCalendar('endCalendar')"><i class="fa fa-calendar"></i></button>
									 </span>
								</div>
							</div>
							<div class="row form-group">
										<label class="grid-md-3">Test Technology</label>
										<div class="grid-md-9 no-padding">
										<!-- ng-if="formEdit.isBasicInfoEdited" -->
										 <tags-input ng-model="test.testTechnologies" display-property="name">
										      <auto-complete source="loadTechnologies($query)"></auto-complete>
										  </tags-input>  
										</div>
							</div>
							<div class="row form-group">
										<label class="grid-md-3">Test Round</label>
										<div class="grid-md-9 no-padding">
										<!-- ng-if="formEdit.isBasicInfoEdited" -->
										 <tags-input ng-model="test.testRounds" display-property="patternName">
										      <auto-complete source="loadRounds($query)"></auto-complete>
										  </tags-input>  
										</div>
							</div>
							<div class="row form-group">
								<label class="grid-md-3">&nbsp;</label>
									<div class="grid-md-6 text-bold" ng-if="testSucMsg"><span class="log-success-msg">{{testSucMsg}}</span></div>
								<button type="button" ng-click="saveTestInfo()" class="cws-button bt-color-3 border-radius alt icon-right" ng-class="{'btn-disable':disableButton}" ng-disabled="disableButton" style="float:right;">Submit</button>
							
							</div>
						</div>
				</form>
			</div>
			</div>
		</div>
		</div>
				
	</div>
	<div  class="slider-child">
		<div class="row" ng-if="currentPanel == 'Quiz'">
			<div class="container no-padding">
			<div class="row profile-card ">
				<div class="user-info-cards">
					<div class="row">
						<!-- <div  class="grid-md-6">
							<h3 class="pro-title">Assign Test to Students</h3>
						</div>

						<div class="grid-md-2 pad-r-30">
							 <button id="backBtn" class="button-fullwidth cws-button bt-color-3 border-radius alt pull-right" type="button" ng-click="slideToTest()"> &lt; &lt; Back </button><br>
						</div> -->
						<div class="row border-btm-1">
							<div class="grid-md-6"> 
								<h3 class="no-margin">Assign Test to Students</h3>
							</div>
							<div class="">
								<button id="backBtn" class="cws-button bt-color-3 border-radius alt icon-right pull-right" type="button" ng-click="slideToTest()">&lt; &lt; Back</button>
							</div>
						</div>
					</div>
					<div class="cont-data-pad">
						<div class="tabs">
							<div class="block-tabs-btn clear-fix">
								<div ng-repeat="(key, value) in questionsList" class="tabs-btn" data-tabs-id="tabs{{key}}">{{key}}</div>
							</div>
							<!-- tabs keeper -->
							<div class="tabs-keeper">
								<!-- tabs container -->
								<div ng-repeat="(key, value) in questionsList"  ng-if="key=='JAVA'">
								<div class="container-tabs active" data-tabs-id="cont-tabs{{key}}" ng-if="key=='JAVA'">
									<div class="grid-md-12 grid-sm-10">
								        <div class="row card card-full-height-88">
											<div class="user-info-cards">
												<table class="row jobslist-table" datatable="ng">
													<thead>
														<tr>
															<th class="grid-md-pn5"></th>
															<th class="grid-md-pn5">S.No</th>
															<th class="grid-md-4">Question</th>
														</tr>
													</thead>
														<tbody>
														<tr data-ng-repeat="question in questionsList.JAVA">
															<td class="width-2px"><input ng-model="question.selected" type="checkbox" class="pull-left"></td>
															<td class="width-2px">{{$index+1}}</td>
															<td class="grid-md-4">{{question.questionDesc}}</td>
														</tr>
													</tbody>
												</table>
												<div class="row">
													<div class="grid-md-9"><span ng-if="successMsg" class="color-green"><b>{{successMsg}}</b></span><span ng-if="errorMsg" class="color-red"><b>{{errorMsg}}</b></span></div>
													<div class="grid-md-3 pad-r-5">
														<button type="button" class="grid-md-5 cws-button border-radius  bt-color-3 alt pull-right" data-ng-click="assigningQuestions('JAVA')">Assign</button>
													</div>
												</div>
											</div>
										</div> 
									</div>
								</div>
								</div>
								<!--/tabs container -->
								<!-- tabs container -->
								<div ng-repeat="(key, value) in questionsList" ng-if="key=='HTML'">
								<div class="container-tabs active" data-tabs-id="cont-tabs{{key}}" ng-if="key=='HTML'">
									<div class="grid-md-12 grid-sm-10" >
								        <div class="row card card-full-height-88">
								        	<div class="user-info-cards">
								        		<table class="row jobslist-table" datatable="ng">
													<thead>
														<tr>
															<th class="width-2px"></th>
															<th class="width-2px">S.No</th>
															<th class="grid-md-4">Question</th>
														</tr>
													</thead>
														<tbody>
														<tr ng-repeat="questions in questionsList.HTML">
															<td class="width-2px"><input ng-model="questions.selected" type="checkbox" class="pull-left"></td>
															<td class="width-2px">{{$index+1}}</td>
															<td class="grid-md-4">{{questions.questionDesc}}</td>
														</tr>
													</tbody>
												</table>
								        	
								        	
												<!-- <div ng-repeat="intern in internTask.UI">
													<div class="row">
														<div class="grid-md-pn5">
															<input ng-model="intern.selected" type="checkbox" class="pull-left">
															<span class="pad-l-10">{{$index+1}}</span>
														</div>
														<div class="grid-md-10 no-padding">
															<p>{{intern.question}}</p>
														</div>
													</div>
												</div> -->
												<div class="row">
													<div class="grid-md-9"><span ng-if="successMsg" class="color-green"><b>{{successMsg}}</b></span><span ng-if="errorMsg" class="color-red"><b>{{errorMsg}}</b></span></div>
													<div class="grid-md-3">
														<button type="button" class="grid-md-5 cws-button border-radius  bt-color-3 alt pull-right" data-ng-click="assigningQuestions('HTML')">Assign</button>
													</div>
												</div>
											</div>
										</div> 
									</div>
								</div>
								</div>
								<!--/tabs container -->
								<!-- tabs container -->
								<div class="container-tabs" data-tabs-id="cont-tabsJ2EE">
									No data is available in DB.
								</div>
								<!--/tabs container -->
							</div>
						</div>
						<div ng-if="!assigTechList.length" class="color-green text-center"><b>{{message}}</b></div>
					</div>
					<div class="overlay" data-ng-class="{'show': openQuestionsPopup}" data-ng-click="toggleBoolean('openQuestionsPopup')"></div>	
					 <div class="popup popup-width top-25" data-ng-class="{'show': openQuestionsPopup}">
						<div class="popup-content">
							<div class="container no-padding">
								<div class="row no-padding min-height-55 " ng-if="successMsg">
									<div class="grid-md-4">&nbsp;</div>
									<div class="grid-md-4 log-success-msg" ng-if="successMsg">{{successMsg}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
		</div>	
		<div class="row" ng-if="currentPanel == 'Coding'">
			<div class="container no-padding">
			<div class="row profile-card ">
				<div class="user-info-cards">
					<div class="row">
						<!-- <div  class="grid-md-6">
							<h3 class="pro-title">Assign Programms to Students</h3>
						</div>
						<div class="grid-md-2 pad-r-30">
							 <button id="backBtn" class="button-fullwidth cws-button bt-color-3 border-radius alt pull-right" type="button" ng-click="slideToTest()"> &lt; &lt; Back </button><br>
						</div> -->
						<div class="row border-btm-1">
							<div class="grid-md-6"> 
								<h3 class="no-margin">Assign Programms to Students</h3>
							</div>
							<div class="">
								<button id="backBtn" class="cws-button bt-color-3 border-radius alt icon-right pull-right" type="button" ng-click="slideToTest()">&lt; &lt; Back</button>
							</div>
						</div>
						<div class="user-info-cards">
							<table class="row tc-table" datatable="ng">
								<thead>
									<tr>
										<th class="grid-md-pn5"></th>
										<th class="grid-md-pn5">S.No</th>
										<th class="grid-md-4">Question</th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="codingQuest in codingQuestionsList">
										<td class="width-2px"><input ng-model="codingQuest.selected" type="checkbox" class="pull-left"></td>
										<td class="width-2px">{{$index+1}}</td>
										<td class="grid-md-4">{{codingQuest.questionDesc}}</td>
									</tr>
								</tbody>
							</table>
							<div class="row">
								<div class="grid-md-9"><span ng-if="successMsg" class="color-green"><b>{{successMsg}}</b></span><span ng-if="errorMsg" class="color-red"><b>{{errorMsg}}</b></span></div>
								<div class="grid-md-3 pad-r-5">
									<button type="button" class="grid-md-5 cws-button border-radius  bt-color-3 alt pull-right" data-ng-click="assigningQuestions('JAVA')">Assign</button>
								</div>
							</div>
						</div>
						
					</div>
					<div class="cont-data-pad">
						
						<div ng-if="!assigTechList.length" class="color-green text-center"><b>{{message}}</b></div>
					</div>
					<div class="overlay" data-ng-class="{'show': openQuestionsPopup}" data-ng-click="toggleBoolean('openQuestionsPopup')"></div>	
					 <div class="popup popup-width top-25" data-ng-class="{'show': openQuestionsPopup}">
						<div class="popup-content">
							<div class="container no-padding">
								<div class="row no-padding min-height-55 " ng-if="successMsg">
									<div class="grid-md-4">&nbsp;</div>
									<div class="grid-md-4 log-success-msg" ng-if="successMsg">{{successMsg}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
			
			
			
			
			
		</div>
		<div class="row" ng-if="currentPanel == 'Task'">
			<div class="container no-padding">
			<div class="row profile-card ">
				<div class="user-info-cards">
					<div class="row">
						<!-- <div  class="grid-md-6">
							<h3 class="pro-title">Assign Tasks to Students</h3>
						</div>
						<div class="grid-md-2 pad-r-30">
							 <button id="backBtn" class="button-fullwidth cws-button bt-color-3 border-radius alt pull-right" type="button" ng-click="slideToTest()"> &lt; &lt; Back </button><br>
						</div> -->
						<div class="row border-btm-1">
							<div class="grid-md-6"> 
								<h3 class="no-margin">Assign Tasks to Students</h3>
							</div>
							<div class="">
								<button id="backBtn" class="cws-button bt-color-3 border-radius alt icon-right pull-right" type="button" ng-click="slideToTest()">&lt; &lt; Back</button>
							</div>
						</div>
						<div class="user-info-cards">
							<table class="row tc-table" datatable="ng">
								<thead>
									<tr>
										<th class="grid-md-pn5"></th>
										<th class="grid-md-pn5">S.No</th>
										<th class="grid-md-4">Question</th>
									</tr>
								</thead>
								<tbody>
									<tr data-ng-repeat="task in tasksList">
										<td class="width-2px"><input ng-model="task.selected" type="checkbox" class="pull-left"></td>
										<td class="width-2px">{{$index+1}}</td>
										<td class="grid-md-4">{{task.question}}</td>
									</tr>
								</tbody>
							</table>
							<div class="row">
								<div class="grid-md-9"><span ng-if="successMsg" class="color-green"><b>{{successMsg}}</b></span><span ng-if="errorMsg" class="color-red"><b>{{errorMsg}}</b></span></div>
								<div class="grid-md-3 pad-r-5">
									<button type="button" class="grid-md-5 cws-button border-radius  bt-color-3 alt pull-right" data-ng-click="assigningQuestions('JAVA')">Assign</button>
								</div>
							</div>
						</div>
						
					</div>
					<div class="cont-data-pad">
						
						<div ng-if="!assigTechList.length" class="color-green text-center"><b>{{message}}</b></div>
					</div>
					<div class="overlay" data-ng-class="{'show': openQuestionsPopup}" data-ng-click="toggleBoolean('openQuestionsPopup')"></div>	
					 <div class="popup popup-width top-25" data-ng-class="{'show': openQuestionsPopup}">
						<div class="popup-content">
							<div class="container no-padding">
								<div class="row no-padding min-height-55 " ng-if="successMsg">
									<div class="grid-md-4">&nbsp;</div>
									<div class="grid-md-4 log-success-msg" ng-if="successMsg">{{successMsg}}</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
		</div>	
	</div> 
</div>
</div>

	
				