<div class="page-content woocommerce">
	<div class="container clear-fix">
					<!-- Shop -->
		<h3>Your seat has booked Successfully</h3>
		<div id="content" role="main">
			<form action="#" method="post">
				<table class="shop_table cart">
					<thead>
						<tr>
							<th class="product-thumbnail">Events</th>
							<th class="product-name">&nbsp;</th>
							<th class="grid-col-2">seats</th>
						</tr>
					</thead>
					<tbody>								
						<tr class="cart_item">
							<td class="product-thumbnail">
								<a href="shop-single-item.html">
									<img ng-src="{{bookedEventsList.event.imgPath}}"  class="attachment-shop_thumbnail wp-post-image" alt="">
								</a>					
							</td>
							<td class="product-name grid-col-9">
								<a href="shop-single-item.html">{{bookedEventsList.event.eventName}}</a>			
							</td>
							<td class="product-price grid-col-2">
								<span class="amount">1</span>			
							</td>
						</tr>
					</tbody>
				</table>
			</form>
		</div>
</div>	
</div>