<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title> :: Pioneer Coders</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
<link rel="shortcut icon" type="image/png" href="../resources/img/pclogo2.png"/>
<!-- style -->
	<link rel="stylesheet" href="../resources/css/font-awesome.min.css" />
	<link rel="stylesheet" href="../resources/css/main.css" />
	<link rel="stylesheet" href="../resources/css/app.css" />
	<style>
		.chengePwdPopup{
			position : absolute;
			left:110px;
		}
		.popupMsg{
			    z-index: 99999;
			    position: absolute;
			    left: 80px;
			    top: 177px;
		}
		.popup.show{
			top:177px;
		}
		.mailText{
			    padding: 10px;
	    		font-size: 15px;
		}
		.change-pwd-panel{
	    margin-top: 30px;
	    margin-bottom: 30px;
	    min-height: 330px;
	    border-top-left-radius: 11px;
	    border: 1px solid #18bb7c;
	    border-bottom-right-radius: 0px !important;
	    
	}
	</style>
</head>
<body ng-app="generatePwdApp" ng-controller="generatePwdCtrl">
<div class="container no-padding">
	<div class="row no-padding">
	<div class="grid-md-4">&nbsp;</div>
	<div class="grid-md-4 bordered no-padding change-pwd-panel">
		<div class="row text-center corner-radius bg-color-3">
			<h3 class="text-center color-white m-0">Generate Password</h3>
		</div>
		<div class="login-logo m-t-30">
			<img src="../resources/img/pc-logo.png" alt="Pioneer Coders Logo"/>
		</div>
		<div class="login-title text-center no-margin">
		</div>
		<form name="changePasswordForm">
			<div class="field-container">
				<input type="password" class="form-input grid-md-12" ng-minlength="6" minlength="6" placeholder="Enter New Password" ng-model="changePwd.newPassword" name="newPwd" required>
				<span class="input-field-icon-area"><i class="fa fa-envelope input-field-icon"></i></span>
				<div class="error-msg absolute color-red font-11" ng-if="changePasswordForm.newPwd.$error.required && changePasswordForm.newPwd.$dirty">Password is required</div>
				<div class="error-msg absolute" ng-if="changePasswordForm.newPwd.$dirty && changePasswordForm.newPwd.$error.minlength">Password should be minimum 6 characters</div>
			</div>
			<div class="field-container">
				<input type="password" class="form-input grid-md-12" ng-minlength="6" minlength="6" placeholder="Enter Confirm Password" ng-model="changePwd.confirmPassword" name="confirmPwd" required>
				<span class="input-field-icon-area"><i class="fa fa-envelope input-field-icon"></i></span>
				<div class="error-msg absolute color-red font-11" ng-if="changePasswordForm.confirmPwd.$error.required && changePasswordForm.confirmPwd.$dirty">Confirm Password is required</div>
				<div class="error-msg absolute" ng-if="changePasswordForm.confirmPwd.$dirty && changePasswordForm.confirmPwd.$error.minlength">Password should be minimum 6 characters</div>
			</div>
			<div class="field-container pull-right mb-30">
				<button type="button" class="cws-button bt-color-3 border-radius pull-right" ng-disabled="changePasswordForm.confirmPwd.$invalid" ng-click="changePassword()">Submit</button>
			</div>
	</form>
	</div>
	</div>
</div>
<div class="overlay absolute regform-height" ng-class="{'show':formLoader}"></div>
<div class="overlay" ng-class="{'show':showpopup}"></div>
<div class="content-loader" ng-class="{'show':formLoader}"><i class="fa fa-spin fa-spinner"></i></div>
<div class="popup log-popup grid-md-3 grid-lg-2 grid-xs-12 card-min-height popupMsg" ng-class="{'show':showpopup}" style="z-index:99999;min-height: 190px;overflow: hidden;">
	<div class="popup-close-btn" ng-class="{'bgcolor-brightgreen':quizSuccessMsg}"><img src="../resources/img/home/x.png" class="pointer-cursor pull-right m-r-5" ng-click="closePopup()"></div>
	<div class="mar-38px text-center">
		<div class="font-18 quiz-info-msg " ng-if="infoMsg">{{infoMsg}}</div>
		<div>
			<button ng-if="infoMsg" type="button" class="cws-button border-radius bt-color-3 alt" ng-click="closePopup()">OK</button>
		</div>
	</div>
</div>
</body>
<script type="text/javascript" src="../resources/js/lib/angular.min.js"></script>
<script type="text/javascript" src="../resources/js/lib/angular-md5.js"></script>
<script type="text/javascript" src="../resources/js/controllers/generatePassword.js"></script>
</html>