	<style>
		.inst-list li ,.inst-list-one li {
			text-align:left !important;
			border : none !important;
		}
	</style>
	<div class="grid-md-12 grid-sm-10">
		<div class="header row">
			<h1 class="heading mar-5 grid-sm-4 sm-absolute">Exam Instructions</h1>
		</div>
      <div class="row card car-full-height-88">
				<h2> Please read carefully before taking the test:</h2>
		
				<ol class="inst-list">
					<li>Exam consists of three sections</li>
					<ul class="inst-list-one">
						<li>CSS</li>
						<li>HTML</li>
						<li>JAVA</li>
					</ul>
					<li>Each section contain 10 questions</li>
					<li>Each question carry 1 mark, no negative marks.</li>
					<li>Time alloted : 15 minutes for each exam(Total 45 minutes Allotted for three sections)</li>
					<li>DO NOT refresh the page.</li>
					<li>DO NOT take Two Tests at a time</li>
					<li>Click the button <b>"Start Exam"</b> to start your exam</li>
					<li>ALL THE BEST:-)</li>
				</ol>
		</div>
	</div>
