<div class="slider-child">
	<form name="loginForm" novalidate class="mar-70px login-wmar">
	<div class="pull-left font-21 color-white log-bdr">
	
					<img src="resources/img/pioneer-logo-admin.png" class="pc-admin-logo">
					<span class="pc-admin-txt-logo">PC Admin</span>
				</div>
		<div class="field-container">
			<input type="text" placeholder="Username" ng-model="login.emailId" name="userName" required />
			<span class="input-field-icon-area">
				<i class="fa fa-user input-field-icon"></i>
			</span>
			<div class="error-msg absolute" ng-if="loginForm.userName.$error.required && loginForm.userName.$dirty">Username Is Required</div>
		</div>
		<div class="field-container">
			<input type="password" placeholder="Password" ng-model="login.password" name="password" required="required">
			<span class="input-field-icon-area">
				<i class="fa fa-lock input-field-icon"></i>
			</span>
			<div class="error-msg absolute" ng-if="loginForm.password.$error.required && loginForm.password.$dirty">Password Is Required</div>
		</div>
		<div class="field-container">
			<button class="btn" type="button" ng-disabled="loginForm.$invalid" ng-click="doLogin()">Login</button>
		</div>
	</form>
	<div class="overlay absolute" ng-class="{'show':formLoader}"></div>
	<div class="content-loader " ng-class="{'show':formLoader}">
		<i class="fa fa-spin fa-spinner"></i>
<div class="slider-child">
	<form name="loginForm" novalidate class="mar-70px login-wmar">
	<div class="pull-left font-21 color-white log-bdr">
	
					<img src="resources/img/pioneer-logo-admin.png" class="pc-admin-logo">
					<span class="pc-admin-txt-logo">PC Admin</span>
				</div>
		<div class="field-container">
			<input type="text" placeholder="Username" ng-model="login.emailId" name="userName" required />
			<span class="input-field-icon-area">
				<i class="fa fa-user input-field-icon"></i>
			</span>
			<div class="error-msg absolute" ng-if="loginForm.userName.$error.required && loginForm.userName.$dirty">Username Is Required</div>
		</div>
		<div class="field-container">
			<input type="password" placeholder="Password" ng-model="login.password" name="password" required="required">
			<span class="input-field-icon-area">
				<i class="fa fa-lock input-field-icon"></i>
			</span>
			<div class="error-msg absolute" ng-if="loginForm.password.$error.required && loginForm.password.$dirty">Password Is Required</div>
		</div>
		<div class="field-container">
			<button class="btn" type="button" ng-disabled="loginForm.$invalid" ng-click="doLogin()">Login</button>
		</div>
	</form>
	<div class="overlay absolute" ng-class="{'show':formLoader}"></div>
	<div class="content-loader " ng-class="{'show':formLoader}">
		<i class="fa fa-spin fa-spinner"></i>
<form name="loginForm" novalidate class="mar-70px login-wmar">
<div class="pull-left font-21 color-white log-bdr">

				<img src="resources/img/pioneer-logo-admin.png" class="pc-admin-logo">
				<span class="pc-admin-txt-logo">PC Admin</span>
			</div>
	<div class="field-container">
		<input type="text" placeholder="Username" ng-model="login.emailId" name="userName" required />
		<span class="input-field-icon-area">
			<i class="fa fa-user input-field-icon"></i>
		</span>
		<div class="error-msg absolute" ng-if="loginForm.userName.$error.required && loginForm.userName.$dirty">Username Is Required</div>
	</div>
	<div class="field-container">
		<input type="password" placeholder="Password" ng-model="login.password" name="password" required="required">
		<span class="input-field-icon-area">
			<i class="fa fa-lock input-field-icon"></i>
		</span>
		<div class="error-msg absolute" ng-if="loginForm.password.$error.required && loginForm.password.$dirty">Password Is Required</div>
	</div>
	<div class="field-container">
		<button class="btn" type="button" ng-disabled="loginForm.$invalid" ng-click="doLogin()">Login</button>
	</div>
</form>
<div class="overlay absolute" ng-class="{'show':formLoader}"></div>
<div class="content-loader " ng-class="{'show':formLoader}">
	<i class="fa fa-spin fa-spinner"></i>
</div>
